<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SqlConnection" value="Server=tcp:pastaserver.database.windows.net,1433;Initial Catalog=LearnAzureDB;Persist Security Info=False;User ID=#{LearnAzureDBUser};Password={LearnAzureDBPassword};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
    <add key="woop" value="ya"/>
  </appSettings>
</configuration>